.about-left img {
  border-radius: 10px;
  object-fit: cover;
  width: 300px;
  height: auto; /* Ensure the image scales appropriately */
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px; /* Adjusted for better spacing */
  margin: 100px 100px; /* Adjusted margin for better alignment */
}

.about-title {
  position: relative;
  text-align: center; /* Center align the title */
}

.about-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

.about-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.about-sections {
  display: flex;
  justify-content: space-between; /* Evenly distribute sections */
  gap: 40px; /* Adjusted gap between sections */
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 40px; /* Adjusted gap between paragraphs */
}

.about-para {
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.about-languages {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 columns for desktop */
  gap: 20px; /* Adjust gap between icons */
  width: 100%;
  max-width: 1200px; /* Adjust width to fit design */
  margin: 0 auto; /* Center the grid */
}

.language-icon {
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 150px; /* Size of the icon container */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-icon img {
  width: 100%;
  max-width: 120px; /* Size of the icon image */
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.language-icon:hover img {
  transform: scale(1.1); /* Scale up on hover */
}

@media (max-width: 768px) {
  .about {
    gap: 50px;
    margin: 50px 70px;
    align-items: center;
  }

  .about-title h1 {
    font-size: 50px;
    padding: 0;
    font-weight: 600;
  }

  .about-title img {
    width: 130px;
    right: -20px;
  }

  .about-sections {
    flex-direction: column;
  }

  .about-left {
    display: none;
  }

  .about-para {
    font-size: 20px;
    line-height: 32px;
  }

  .about-languages {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for smaller screens */
    grid-template-rows: repeat(2, 1fr); /* 2 rows for smaller screens */
    gap: 20px;
    width: 100%; /* Full width on smaller screens */
    max-width: none; /* Remove max-width restriction */
  }

  .language-icon {
    padding: 10px;
    width: 100%;
    max-width: 150px;
    height: auto;
  }

  .language-icon img {
    width: 100%;
    max-width: 120px;
    height: auto;
  }
}
