.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.header img {
  width: 400px;
  height: 400px;
  margin-top: 25px;
}

.header h1 {
  text-align: center;
  width: 70%;
  font-size: 70px;
  font-weight: 400;
}

.header h1 span {
  font-weight: 700;
  background: linear-gradient(
    90deg,
    rgb(52, 133, 180) 0%,
    hsla(176, 45%, 66%, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header p {
  width: 50%;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
}

.header-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 50px;
}

.header-connect {
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(
    90deg,
    hsla(202, 71%, 27%, 1) 0%,
    hsla(176, 45%, 66%, 1) 100%
  );
  cursor: pointer;
}

.header-resume {
  padding: 25px 75px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}

.header-connect:hover {
  border: 2px solid white;
}

.header-resume:hover {
  border-color: hsla(176, 45%, 66%, 1);
}

@media (max-width: 768px) {
  .header img {
    width: 260px;

  }
  .header h1 {
    width: 90%;
    font-size: 40px;
  }

  .header p {
    width: 80%;
    font-size: 22px;
    line-height: 32px;
    margin: 10px 0px;
  }

  .header-action {
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }

  .header-connect {
    padding: 15px 15px;
    border-radius: 40px;
  }

  .header-resume {
    padding: 15px 35px;
    border-radius: 40px;
  }
}
